/** @format */

@use '../../_mixin.scss' as mixin;

footer {
  grid-area: footer;

  font-size: var(--font-size-ratio);

  @include mixin.element_theme_alwaysDark;

  padding-block: calc(var(--clam) * 8);

  display: flex;
  flex: {
    direction: column;
  }
  row-gap: calc(var(--clam) * 6);
  align-items: center;

  > article {
    box-sizing: content-box;
    max-inline-size: 90ch;
    padding-inline: 4vw;

    display: flex;
    flex: {
      direction: column;
    }
    row-gap: 2em;

    * {
      // line-height: 1;
      font-size: 1rem;
      text-align: center;
      font-weight: normal;
    }

    > :where(ul, ol) {
      padding-inline-start: 0;
      list-style-type: none;

      > li + li {
        margin-block-start: calc(var(--clam) * 1);
      }
    }
  }
}
