/** @format */

@use '../button/_.scss' as button;

#colorSchemeToggle {
  font-size: var(--font-size-ratio);

  @include button.button_importance_tertiary(label);

  position: absolute;
  right: 0.25em;
  top: 0.25em;

  &::before {
    font-size: 1.75em;
    content: '☉';
    line-height: 1;
    padding-inline-end: calc(var(--clam) * 0.2);
    // inline-size: 2ch;
    // margin-inline-end: 1em;
    // transform: translateX(-0.1em) translateY(-0.8em);
  }

  &::after {
    line-height: 1;
    content: '=\00a0theme';
  }

  &:hover {
    &::after {
      content: '\00a0!theme';
    }
  }

  :where(&:focus,&:has(input[type='checkbox']:focus)) {
    outline: {
      color: var(--light);
      style: dashed;
      width: 0.25em;
    }
  }

  &:has(input[type='checkbox']:checked)::before {
    font-size: 1.5em;
    padding-inline-end: calc(var(--clam) * 0.5);
    content: '☽';
    // transform: scale(0.8) translateX(0.1em) translateY(-0.8em);
  }
}
