a {
  text-underline-offset: 0.5ex;

  // color not inheriting the parent element but "inheriting" what is already set in the user agent stylesheet?
  // color: inherit;
  color: var(--foreground);

  &:focus,
  &:hover,
  &:active {
    font-size: unset;
    color: var(--background);
    background-color: var(--foreground);
    box-shadow: 0.5ch 0.5ex 0 0 var(--foreground),
    -0.5ch 0.5ex 0 0 var(--foreground),
    0.5ch -0.5ex 0 0 var(--foreground),
    -0.5ch -0.5ex 0 0 var(--foreground);


    // FIXME: How to bold text without impacting its length?
    //        text-shadow looks too weird.
    // text-shadow: -0.01ch 0 0 var(--background),
    //              0.01ch 0 0 var(--background),
    //              0 0.01ex 0 var(--background),
    //              0 -0.01ex 0 var(--background);
  }

  transition: background-color 0s ease-out 0.5s, color 0s ease-out 0.5s, box-shadow 0s ease-out 0.5s;

  &:hover {
    transition: background-color 0s ease-out 0s, color 0s ease-out 0s, box-shadow 0s ease-out 0s;
  }
}
