// FIXME: Couldn't find a way to get (the selector using the input rule)'s HTML tag.
//        Had to use a Sass variable instead.
@mixin button_importance_tertiary($tag: undefined) {
  text-transform: uppercase;
  font-family: JetBrainsMonoVar, monospace;
  font-weight: bold;
  font-size: calc(var(--clam) * 1.25);

  //noinspection CssInvalidPropertyValue
  padding: {
    block: calc(var(--clam) * 0.2);
    inline: calc(var(--clam) * 0.5);
  }

  border: {
    style: solid;
    width: calc(var(--clam) * 0.2);
  }

  &:focus {
    outline: {
      color: white;
      style: dashed;
      width: 0.2em;
    };
  }

  // A background color is necessary to make filter: invert(100%) work.
  background-color: inherit;

  &:hover,
  &:active {
    filter: invert(100%);
    font-weight: 900;
  }

  @if $tag == label {
    display: flex;
    align-items: center;

    input {
      position: absolute;
      visibility: hidden;
      height: 2ex;
      width: 4ch;
    }
  }
}
