// FIXME: Wanted to use https://every-layout.dev/layouts/switcher/ for this but somehow it didn't work and I had to give up.
#copyright {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  max-inline-size: 60ch;
  white-space: nowrap;

  > * {
    text-align: center;
  }

  > h2 {
    font-size: 1em;
    font-weight: normal;
  }

  > address {
    flex-grow: 4;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1ch;
    align-items: baseline;
    justify-content: center;
  }
}
