/** @format */

@use '../../_mixin.scss' as mixin;

body {
  > nav {
    @media (width < 75rem) {
      ~ main {
        grid-template-columns:
          minmax(min(4vw, 4.8rem), 1fr)
          minmax(30ch, 75ch)
          minmax(min(4vw, 4.8rem), 1fr);

        > aside {
          display: none;
        }
      }
    }

    @media (width < 60rem) {
      overflow-x: visible;

      > details {
        min-inline-size: fit-content;

        > summary {
          &::after {
            // TODO: Why do I need to write this?
            margin-block-start: -0.1rem;
            color: var(--fg);
            background-color: var(--bg);
            border: 0.2rem solid var(--fg);
          }
        }

        // Because media query adds no specificity.
        &[open]:not(body) {

          color: var(--fg);
          background-color: var(--bg);

          > summary::after {
            color: unset;
            background-color: unset;
            border: unset;
            content: '\00a0\00a0\00a0\00a0🡨';
          }
        }
      }
      z-index: 5;
    }

    grid-area: nav;

    font-size: var(--font-size-ratio);

    position: sticky;
    top: 0;
    block-size: 100vh;

    > details {
      font-weight: bold;

      // TODO: (notFIXME) There has to be a way to not make it take up 100% space but still...
      //       Oh, I see. I should have just put other possible controls like the language switcher inside it.
      block-size: 100%;

      a {
        text-decoration-line: none;
      }

      ul {
        list-style-type: none;
      }

      > * + * {
        margin-block-start: calc(var(--clam) * 2);
      }

      > summary {
        padding-inline: 0;

        text-align: center;
        align-items: baseline;

        > a {
          display: none;
          // flex-grow: 9999;

          > h1 {
            line-height: inherit;
            font-size: 1.5em;
            // text-align: center;
          }
        }

        &::after {
          font-size: 2em;
          content: '≡';

          margin-inline-end: 0;
        }
      }

      > hr {
        font-size: var(--font-size-ratio);
      }

      > ul {
        padding-inline-start: 0;

        ul {
          border-inline-start: 0.25em solid var(--fg);
          padding-inline-start: 1em;
        }

        li {
          * + ul {
            margin-block-start: calc(var(--clam) * 2);
          }
        }

        > li {
          > a {
            font-weight: 900;
          }

          + * {
            margin-block-start: calc(var(--clam) * 4);
          }

          > ul {
            li + li {
              margin-block-start: calc(var(--clam) * 1);
            }
          }
        }

      }

      &[open] {
        overflow-y: auto;
        scrollbar-gutter: stable;
        padding-inline: 0;

        > * {
          margin-inline-start: 1em;
        }

        // TODO: Fix this dirty fix for Clicking area of link on mobile devices being too much.
        > summary {
          > a {
            display: inline;

            > h1 {
              display: inline;
            }
          }

          &::after {
            padding-inline-end: 0;
            content: '🡨';
          }
        }
      }
    }
  }
}
