/** @format */

a {
  color: var(--foreground);
  text-underline-offset: 0.5ex;

  &:focus,
  &:hover,
  &:active {
    color: var(--background);

    background-color: var(--foreground);
    // FIXME: How to bold text without impacting its length?
    box-shadow: 0.5ch 0.5ex 0 0 var(--foreground), -0.5ch 0.5ex 0 0 var(--foreground),
      0.5ch -0.5ex 0 0 var(--foreground), -0.5ch -0.5ex 0 0 var(--foreground);
  }
  transition: background-color 0s ease-out 0.5s, color 0s ease-out 0.5s,
    box-shadow 0s ease-out 0.5s;

  &:hover {
    transition: background-color 0s ease-out 0s, color 0s ease-out 0s,
      box-shadow 0s ease-out 0s;
  }

  &[href^='http'] {
    &::after {
      content: '\00a0🡥';
    }

    &:hover::before {
      content: 'insecure link';
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: 0.5em;
      border: {
        style: solid;
        width: 1px;
        color: var(--foreground);
      }
    }
  }

  :is(&[href^="https://"][href^="https://"], &[href^="#"][href^="#"])
  {
    &:hover::before {
      content: none;
    }
  }

  :is(&[href^='#'][href^='#'],
   &[href^="https://aquati.cat/"][href^="https://aquati.cat/"],
    &[href^="https://monochromatic.dev/"][href^="https://monochromatic.dev/"],
    &[href^="https://anyfeedback.community/"][href^="https://anyfeedback.community/"]
    ) {
    &::after {
      content: none;
    }
  }
}
