/** @format */

@use '../../_mixin.scss' as mixin;

header {
  position: relative;

  grid-area: header;

  @include mixin.element_theme_alwaysDark;
  font-size: var(--font-size-ratio);
  padding-block: calc(var(--clam) * 8);

  display: flex;
  flex-direction: column;
  row-gap: 4em;
  align-items: center;
}
