main {
  font-size: 0.8em;

  background-color: var(--background);

  padding-block: calc(var(--clam) * 8);

  // container-type: inline-size;
  // container-name: main;

  overflow-y: clip;
  contain: content;

  // justify-self: center;
  grid-area: main;



  display: grid;

  // TODO: Do I really need CSS grid? Couldn't I have just added margin to content and used sticky positioning for the aside?
  //       And now I have to use container media queries in the body container because I cannot use @container on the container itself.
  //       So we are back to square one. Might as well have used container media queries from the start.
  grid-template-columns: minmax(min(4vw, 4.8rem), calc(50% - 37.5ch)) minmax(auto, 75ch) minmax(min(4vw, 4.8rem), 1fr) minmax(20ch, 30ch);
  // @container body (width < 1024px) {
  // grid-template-columns: minmax(max(2vw, 2.4rem), calc(50% - 37.5ch)) minmax(45ch, 75ch) minmax(min(4vw, 4.8rem), 1fr);
  // }

  // justify-items: stretch;
  row-gap: var(--clam);

  details {
    > summary {
      inline-size: calc(100% + 2rem);
      transform: translateX(-1rem);

      border: {
        style: solid;
        color: var(--foreground);
        // noinspection CssInvalidPropertyValue
        inline-start-color: var(--background);
        width: 0.25rem;
      }
    }
  }

  > * {
    grid-column: {
      start: 2;
      end: 3;
    }

    justify-self: stretch;
  }

  > aside {
    overflow-y: visible;
    height: 1px;
    position: sticky;
    top: 25vh;

    grid: {
      column: {
        start: 4;
        end: 5
      }
      row: {
        start: 1;
      }
    }

    justify-self: end;

    a {
      text-decoration-line: none;
    }

    ul {
      list-style-type: none;
    }

    > ul {
      padding-inline-start: 0;
      overflow-y: auto;
      max-block-size: 50vh;

      text-align: end;

      li {
        padding-inline-end: 1em;

        > ul li {
          //noinspection CssInvalidPropertyValue
          border-inline-end: {
            style: solid;
            color: var(--foreground);
            width: 0.25rem;
          }
        }

        * + ul {
          margin-block-start: 1em;
        }
      }

      > li > a {
        font-weight: bold;
      }

      // TODO: Style scrollbar.
    }
  }
}


