:where(ol,ul) {
  line-height: 1.5;
  padding-inline-start: 2ch;

  + * {
    margin-block-start: 1.5rem;
  }

  * + * {
    margin-block-start: 1.75rem;
  }
}

li {
  + li {
    margin-block-start: 1.5rem;
  }

  li + li {
    margin-block-start: 1.25rem;
  }

  > {
    ol > li {
      list-style-type: upper-roman;
    }

    ul > li {
      list-style-type: square;
    }
  }
}

.ul_direction_inlineStart {
  display: flex;
  flex: {
    direction: row;
    wrap: wrap;
  }
  row-gap: 1em;
  column-gap: 2em;
  align-items: baseline;

  > * + * {
    margin-block-start: 0;
  }
}

