@charset "UTF-8";
/*
 * IntelliJ Platform bugs:
 *
 * 1.  false positive of "Mismatched property value":
 *
 *     1.  when using colors for border-block/inline;
 *
 *     2.  when using clamp() for SCSS scoped padding-block/inline.
 *
 * The design right now is horrible.
 * Maybe I really should have designed in Figma first.
 *
 * Also not using the :has() selector right now because Firefox doesn't fully support it and doesn't enable it by default.
 * Considering using it anyways because every other browser has support and [We plan to work on this in the first half of this year](https://bugzilla.mozilla.org/show_bug.cgi?id=418039#c62).
 * Update: I used it anyways.
 *
 * TODO: Change all clamp() to CSS variables.
 *
 * TODO: Use position: relative instead of transform: translateX() on <summary>.
 *       At least make <summary> containing h2 wider than the rest!
 */
@font-face {
  font-family: x-sans-serif;
  font-style: normal;
  font-weight: 100 900;
  src: local(Inter var), local(Inter), url("https://cdn.jsdelivr.net/npm/@fontsource/inter/files/inter-latin-variable-full-normal.woff2") format("woff2"), local(sans-serif);
}
@font-face {
  font-family: x-serif;
  src: local(serif);
}
@font-face {
  font-family: x-monospace;
  src: local(Fira Code VF), local(Fira Code), url("https://cdn.jsdelivr.net/npm/firacode/distr/woff2/FiraCode-VF.woff2") format("woff2-variations"), local(monospace);
}
:root {
  --light: white;
  --dark: black;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: white;
    --background: black;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --foreground: black;
    --background: white;
  }
}
:root * + section {
  margin-block-start: 4rem;
}
:root * + :where(ol, ul) {
  margin-block-start: 2rem;
}
:root li :where(ol, ul) {
  margin-block-start: 1rem;
}
:root :where(h1, h2, h3, h4, h5) + section {
  margin-block-start: 1rem;
}
:root summary + * {
  margin-block-start: 2rem;
}
:root details + * {
  margin-block-start: clamp(4rem, 5rem, 10vw);
}
:root hr + * {
  margin-block-start: clamp(4rem, 5rem, 10vw);
}
:root p > * + * {
  margin-block-start: 0;
}
:root span > * + * {
  margin-block-start: 0;
}

x-wrapper {
  display: block;
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
  margin-block: 0;
}

html {
  color: var(--foreground);
  background-color: var(--background);
  font-family: x-sans-serif, sans-serif;
  letter-spacing: 0.1ch;
  line-height: 1.75;
  color-scheme: light dark;
}

body {
  margin-inline: 0;
}

header {
  color: var(--light);
  background-color: var(--dark);
  border-color: var(--light);
  padding-block: 5rem;
  border-block-end-style: solid;
  border-block-end-width: 0.5rem;
}
header a {
  color: var(--light);
  background-color: var(--dark);
}
header a:focus, header a:hover, header a:active {
  color: var(--dark);
  background-color: var(--light);
  box-shadow: 0.2ch 0.2ex 0 0 var(--light), -0.2ch 0.2ex 0 0 var(--light), 0.2ch -0.2ex 0 0 var(--light), -0.2ch -0.2ex 0 0 var(--light);
}
header > hgroup > h1 + p {
  font-size: clamp(1.25rem, 1.75rem, 2vw);
}

hgroup {
  max-inline-size: 60ch;
  box-sizing: content-box;
  padding-inline: 8vw;
  margin-inline: auto;
  text-align: center;
}
hgroup > :where(h1, h2, h3, h4, h5, h6) {
  line-height: unset;
  margin-block-end: clamp(0.2rem, 0.5rem, 1vw);
}

footer {
  color: var(--light);
  background-color: var(--dark);
  border-color: var(--light);
  border-block-start-style: solid;
  border-block-start-width: 0.5rem;
  padding-block-start: 2rem;
  padding-block-end: 1rem;
}
footer a {
  color: var(--light);
  background-color: var(--dark);
}
footer a:focus, footer a:hover, footer a:active {
  color: var(--dark);
  background-color: var(--light);
  box-shadow: 0.2ch 0.2ex 0 0 var(--light), -0.2ch 0.2ex 0 0 var(--light), 0.2ch -0.2ex 0 0 var(--light), -0.2ch -0.2ex 0 0 var(--light);
}
footer > article * {
  line-height: 1;
  font-size: 1em;
}
footer > article > h2 {
  font-weight: normal;
}

main {
  max-inline-size: 90ch;
  box-sizing: content-box;
  margin-inline: auto;
  padding-inline: 4ch;
  margin-block: clamp(1.75rem, 4rem, 5vw);
}
main * + * {
  margin-block-start: 1.75rem;
}

h1 {
  line-height: 2;
  font-size: clamp(2.5rem, 4rem, 8vw);
  font-family: x-monospace, monospace, x-sans-serif, sans-serif;
  font-weight: 900;
  text-align: center;
  margin-block-end: clamp(2rem, 4rem, 5vw);
  /**
   * Solution for font width greater than container width problem.
   *
   * Taken from https://stackoverflow.com/a/32570813 CC BY-SA 3.0
   * which credited https://stackoverflow.com/a/20249560/5061744 CC BY-SA 3.0
   *
   * Update: Problem not solved. (Why?)
   *         Decided to use Mono<hromᴧti< as content to give the illusion that it's centered.
   */
}

h2 {
  line-height: 2;
  font-size: clamp(1.75rem, 2.5rem, 6vw);
  text-align: center;
}

h3 {
  line-height: 1.75;
  font-size: clamp(1.2rem, 1.5rem, 4vw);
}

h4 {
  font-size: clamp(1rem, 1.25rem, 3vw);
  font-weight: normal;
}

h5 {
  font-size: clamp(0.9rem, 1.1rem, 2.5vw);
}

hr {
  color: inherit;
  height: 1rem;
  border-inline: none;
  border-block: 0.25rem solid currentColor;
  text-align: center;
  inline-size: calc(100% + 2rem);
  transform: translateX(-1rem);
  overflow: visible;
}
hr::after {
  content: "§";
  font-size: 1.75rem;
  font-weight: bold;
  background-color: var(--background);
  padding-inline: 0.5rem;
  position: relative;
  top: -1.25rem;
}

/**
 * FIXME: Still haven't figured out how to prevent flexbox from changing sizes when opening and closing <detail>.
 */
summary {
  outline: none;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 1em;
  align-items: center;
  inline-size: calc(100% + 2rem);
  transform: translateX(-1rem);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-style: solid;
  border-color: var(--foreground);
  border-inline-start-color: var(--background);
  border-width: 0.25rem;
}
summary:has(h2) {
  border-width: 0.5rem;
}
summary:has(h4) {
  border-block-end-color: var(--background);
  padding-block: 0.25rem;
  inline-size: calc(100% + 0.5rem);
  transform: translateX(-0.25rem);
}
summary:has(h5) {
  border-block-color: var(--background);
  padding-block: 0;
  inline-size: calc(100% + 0.25rem);
  transform: translateX(-0.125rem);
}
summary > :where(h2, h3) {
  flex-grow: 99;
}

details > summary::after {
  margin-right: 0.875rem;
  content: ">";
  transform: translateY(0.05em);
  font-size: 2em;
}
details[open] > summary {
  border-inline-start-color: var(--foreground);
  border-block-end-color: var(--background);
}
details[open] > summary::after {
  content: "Λ";
  transform: translateY(0.04em);
  font-size: 1.6em;
}

:where(ol, ul) {
  line-height: 1.5;
  padding-inline-start: 2ch;
}
:where(ol, ul) + * {
  margin-block-start: 1.5rem;
}
:where(ol, ul) * + * {
  margin-block-start: 1.75rem;
}

li + li {
  margin-block-start: 1.5rem;
}
li li + li {
  margin-block-start: 1.25rem;
}
li > ol > li {
  list-style-type: upper-roman;
}
li > ul > li {
  list-style-type: square;
}

section + * {
  margin-block-start: 4rem;
}

a {
  text-underline-offset: 0.5ex;
  color: var(--foreground);
}
a:focus, a:hover, a:active {
  text-decoration-line: none;
  font-size: unset;
  color: var(--background);
  background-color: var(--foreground);
  box-shadow: 0.2ch 0.2ex 0 0 var(--foreground), -0.2ch 0.2ex 0 0 var(--foreground), 0.2ch -0.2ex 0 0 var(--foreground), -0.2ch -0.2ex 0 0 var(--foreground);
}

address {
  font-style: normal;
}

:where(pre, code) {
  font-family: x-monospace, monospace;
}

.ul_direction_inlineStart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1em;
  column-gap: 2em;
  align-items: baseline;
}
.ul_direction_inlineStart > * + * {
  margin-block-start: 0;
}

#colorSchemeToggle {
  text-transform: uppercase;
  font-family: x-monospace, monospace;
  font-weight: bold;
  font-size: clamp(1em, 1.2em, 2.5vw);
  padding-block: clamp(0.3em, 0.4em, 1vw);
  padding-inline: clamp(0.5em, 0.75em, 1.5vw);
  border-style: solid;
  border-width: 0.2em;
  background-color: inherit;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0.2em;
  top: 0.2em;
}
#colorSchemeToggle:focus {
  outline-color: white;
  outline-style: dashed;
  outline-width: 0.2em;
}
#colorSchemeToggle:hover, #colorSchemeToggle:active {
  filter: invert(100%);
  font-weight: 900;
}
#colorSchemeToggle input {
  position: absolute;
  visibility: hidden;
  height: 2ex;
  width: 4ch;
}
#colorSchemeToggle::after {
  content: "= theme";
}
#colorSchemeToggle:hover::after {
  content: " !theme";
}
#colorSchemeToggle::before {
  font-size: 2em;
  content: "☉";
  block-size: 0;
  inline-size: 0;
  margin-inline-end: 1em;
  transform: translateX(-0.1em) translateY(-0.8em);
}
#colorSchemeToggle:has(input[type=checkbox]:checked)::before {
  content: "☽";
  transform: scale(0.8) translateX(0.1em) translateY(-0.8em);
}
#colorSchemeToggle:has(input[type=checkbox]:focus), #colorSchemeToggle:focus {
  outline-color: var(--light);
  outline-style: dashed;
  outline-width: 0.2em;
}

.email [title="Copy my mailto link."],
.email [title="mailto link copied!"] {
  border: 0;
  padding: 0;
  margin-inline-start: 1ch;
}
.email [title="Copy my mailto link."] > button,
.email [title="mailto link copied!"] > button {
  border: 0;
  padding: 0;
  font-size: 1.5em;
  color: inherit;
  background-color: inherit;
  transform: translateY(0.2ex);
}
.email [title="Copy my mailto link."] > button:hover, .email [title="Copy my mailto link."] > button:active,
.email [title="mailto link copied!"] > button:hover,
.email [title="mailto link copied!"] > button:active {
  cursor: pointer;
}
.email > * {
  display: inline-block;
}

#copyright {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1ch;
  align-items: baseline;
  margin-inline: auto;
  padding-inline: 16ch;
  box-sizing: content-box;
  justify-content: center;
  max-inline-size: 60ch;
  white-space: nowrap;
}
#copyright > * {
  text-align: center;
}
#copyright > h2 {
  font-size: 1em;
  font-weight: normal;
}
#copyright > address {
  flex-grow: 4;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1ch;
  align-items: baseline;
  justify-content: center;
}

/*# sourceMappingURL=index.css.map */
